<html lang="en">
<head>
    <title>News Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="sidebar"></div>
<div class="content">
    <form>
        <input type="text" name="search" placeholder="Search news" aria-label="Search news" value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>

    {% if search %}
    <ul>
        {% for article in search.articles.articles %}
        <li>
            <a href="{{ article.url }}">{{ article.title }}</a>
            <p>{{ article.description }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
</html>
